# IDE
.vscode
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.dev
.env.development
.env.development.local
.env.local
.env.staging
.env.staging.local
.env.test
.env.test.local
.env.prod
.env.production
.env.production.local
envvars.txt

.env.DNA.development
.env.DNA.production
.env.DNA.staging
.env.DNA.test
