@font-face {
  font-family: "james";
  src: url("fonts/JamesFajardo.eot");
  src: url("fonts/JamesFajardo.eot?#iefix") format("embedded-opentype"),
    /* //  url('fonts/JamesFajardo.woff2') format('woff2'), */
      url("fonts/JamesFajardo.woff") format("woff"),
    url("fonts/JamesFajardo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  overflow: hidden;
}
body {
  margin: 0;
  /* // padding: 25px 50px; */
  padding: 1px 0px;
  /* //background: url(img/stars.png);
    //background-repeat: no-repeat;
    //background-size: cover;
    // animation:spin 30s linear infinite; */
}

a {
  color: #22bad9;
}
p {
  font-size: 14px;
  line-height: 24px;
}
article {
  margin: 0 auto;
  max-width: 650px;
}
button {
  align-items: center;
  background-color: #22bad9;
  border: 0;
  color: white;
  display: flex;
  padding: 5px 7px;
  transition: background-color 0.3s;
}
button:active {
  background-color: #1b9db7;
}
button:disabled {
  background-color: #b5bebf;
}
button:focus {
  outline: none;
}

#starsContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
#lblTime {
  margin-top: -5px;
}
#stars {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: url(img/stars.png) 0 0 repeat;
  background-size: cover;
  animation: spin 180s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#skyline {
  z-index: 1;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0px;
  height: 490px;
  display: block;
  background: url(img/skyline.png) repeat-x;
  background-size: 1775px 600px;
  background-position: center -30px;
  pointer-events: none;
}

#glowContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
}
.bar__time {
  color: white;
  font-size: 16px;
}
.bar {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
}
.bar__progress {
  flex: 1;
  border-radius: 5px;
  margin: 0 20px;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bar__progress__knob {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1.5px solid white;
  border-radius: 50%;
  background-color: orange;
}
#glow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e04e8+0,660058+100&0+0,1+100 */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(46, 4, 232, 0) 0%,
    rgba(102, 0, 88, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(46, 4, 232, 0) 0%,
    rgba(102, 0, 88, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(46, 4, 232, 0) 0%,
    rgba(102, 0, 88, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#002e04e8', endColorstr='#660058', GradientType=1 );
        IE6-9 fallback on horizontal gradient */
  display: block;
  height: 100%;
  width: 100%;
  top: 100px;
  left: 0;
  opacity: 0.66;
  transform: scale(2.2);
}
